@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

// Set your brand colors
$dark-grey: #757763;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;
$brand-blue: #0F5CA3;
$brand-grey: #F7F9FF;
$light-color: #FFFFFF;
$body-color: #222;

// Update Bulma's global variables
$family-sans-serif: 'Poppins', sans-serif;
$grey-dark: $dark-grey;
$grey-light: $brand-grey;
$primary: $brand-blue;
$link: $brand-blue;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $light-color;
$control-border-width: 2px;
$input-border-color: $beige-lighter;
$input-shadow: $dark-grey;


html, body {
  font-size: 10px;
}

// Import only what you need from Bulma
@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/elements/_all.sass";
@import "../node_modules/bulma/sass/form/_all.sass";
@import "../node_modules/bulma/sass/components/_all.sass";
@import "../node_modules/bulma/sass/layout/hero.sass";
@import "../node_modules/bulma/sass/layout/section.sass";
@import "../node_modules/bulma/sass/helpers/_all.sass";
@import "../node_modules/bulma/sass/grid/_all.sass";
@import "../node_modules/bulma/sass/form/_all.sass";
@import "./blank"