html {
  font-size: 12px;
}

.root-container{
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  transform: translate3d(0px, 0px, 0px);
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 500px;
}

.popup-container {
  min-width: 400px;
  min-height: 500px;
  background-color: $light-color;
  .popup-title-container {
    padding: 15px;
    border-bottom: 1px solid grey;
    display: flex;
    justify-content: space-between;
  }
}


.links-container {
  transition: height 0.35s ease-in-out;
  overflow: hidden;
}

.links-container:not(.active) {
  display: none;
}


.links-container a {
  width: 100%;
  color: white;
  display: block;
}

.popup-buttons-container {
  .buttons-container,
  .links-container {
    .links,
    .buttons {
      width: calc(50% - 5px);
      margin-bottom: 0;
    }
    .button {
      width: 100%;
      position: relative;
      display: flex;
      flex-direction: column;
      -webkit-box-align: center;
      align-items: center;
      -webkit-box-pack: center;
      justify-content: center;
      border-radius: 4px;
      cursor: pointer;
      transition: transform 0.25s ease 0s, box-shadow 0.25s ease 0s;
      overflow: hidden;
      box-shadow: rgba(0, 80, 240, 0.1) 0px 2px 4px;
      background: $brand-blue;
      padding: 5px 10px;
      text-decoration: none;
      white-space: break-spaces;
      height: auto;
      color: $light-color;
      font-weight: 600;
      margin-bottom: 0;
      &:hover {
        transform: translate(0px, -1px);
        box-shadow: rgba(0, 80, 240, 0.1) 0px 8px 12px;
      }
    }
    &-inner {
      width: 100%;
      display: flex;
      gap: 10px;
      // padding: 10px;
      flex-wrap: wrap;
    }
  }
  .link-list-toggle {
    width: 100%;
    background: transparent;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    font-size: 1.5rem;
    border-radius: 0;
    cursor: pointer;
    text-align: left;
    font-weight: bold;
    padding: 5px 10px;
    color: $body-color;
    display: flex;
    justify-content: space-between;
    span {
      i:before {
        color: $body-color;
        opacity: 0.7;
        box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
        border-radius: 50%;
        display: inline-block;
        transition: all 0.35s ease-in-out;
      }
    }
    &.active {
      span {
        i:before {
          transform: rotate(180deg);;
        }
      }
    }
    
  }
  .links {
    display: flex;
    gap: 2px;
    span {
      display: none;
      width: 30px;
      color: $light-color;
      align-items: center;
      justify-content: center;
      border-radius: 4px;
    }
  }
  &.update-links-init {
    .links {
      span.update-links-container {
        display: flex;
        background-color: #48c78e;
      }
    }
  }
  &.delete-links-init {
    .links {
      span.delete-links-container {
        display: flex;
        background-color: #f14668;
      }
    }
  }
}

.options-container {
  .popup-buttons-container {
    max-width: 400px;
  }
}

.error-container {
  flex: 1;
}

.popup-search-container {
  padding: 1rem;
  margin-bottom: 0;
  &.field:not(:last-child) {
    margin-bottom: 0;
  }
}

#modal-login-form {
  padding: 20px;
  .modal-content {
    margin: 10px;
    padding: 20px;
    background-color: $light-color;
    border-radius: 5px;
  }
}

#remove-category-modal {
  .modal-card {
    .control {
      display: flex;
      padding: 5px 0;
      gap: 20px;
      align-items: center;
      .buttons-container {
        display: flex;
        gap: 10px;
        button {
          width: 35px;
          height: 35px;
          color: $light-color;
          border: none;
          transition: all 0.35s ease-in-out;
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 0;
          i {
            width: 35px;
            height: 35px;
            line-height: 35px;
          }
        }
        #modify-category {
          background-color: #78bc61;
          border-radius: 50%;
          &:hover {
            background-color: #4F7841;
          }
          
        }
        #delete-category {
          background-color: #f14668;
          border-radius: 50%;
          &:hover {
            background-color: #9d2b41;
          }
        }
      }
    }
  }
}