html {
  font-size: 12px;
}

.popup-container {
  min-width: 300px;
}

.options-container .popup-buttons-container {
  max-width: 100%;
}

/* .popup-buttons-container {
  display: flex;
  justify-content: space-around;
}
*/

.buttons-container {
  gap: 15px;
  max-width: 280px;
  /* overflow-x: auto; */
} 

.buttons-container a {
  display: block;
}

.options-container .popup-buttons-container .buttons-container {
  max-width: 100%;
}

.buttons-container .button {
  font-size: 1.1rem;
  font-weight: 600;
}

/* Utility Classes */
.border-radius-10 {
  border-radius: 10px;
}

.link-list-toggle {
  width: 100%;
  background: transparent;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  font-size: 2rem;
  border-radius: 5px;
  cursor: pointer;
}

.links-container {
  display: flex;
  gap: 10px;
}

.links-container .links {
  padding: 5px 10px;
  margin: 10px 0;
  background: #236ea7;
  font-size: 1rem;
  font-weight: 600;
  color: white;
  width: calc(50% - 5px);
}

.links-container a {
  width: 100%;
  color: white;
  display: block;
}